<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>EasyEdu</h1>
                </div>
            </div>
        </div>
        <div class="panel-body text-center">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-circle btn-success btn-lg" ui-sref="game.category">Iniciar</a>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <label class="btn btn-link pull-right" for="JSON_upload" ng-click="vm.handleJsonSelect()">Importar assunto</label>
                    <input type="file"
                           style="display: none"
                           id="JSON_upload"
                           name="JSON_upload"
                           ng-model="vm.categoryBase64"
                           accept="application/json" game-file-reader/>
                </div>
            </div>
        </div>
    </div>
</div>