<div class="row">
    <div class="col-sm-4 col-md-3">

        <!--<editor-multiple-uploads done-callback="vm.doneFile(file, activity)" on-remove-item="vm.removeFile(file, activity)" options="{queueLimit: 1}"></editor-multiple-uploads>-->
        <label for="category.name" class="control-label">Assunto</label>
        <input class="form-control input-circle" type="text"
               id="category.name"
               ng-model="vm.categoryNewName"
               ng-value="vm.category.name"
               placeholder="Informe uma breve descrição para o assunto">

        <hr>

        <editor-insert-image model="vm.category" alt-image="Imagem do assunto"></editor-insert-image>

<!--
        <div ng-if="vm.hasImage()">
            <div class="pull-right">
                <i class="fa fa-times" aria-hidden="true"
                   title="Clique para remover a imagem"
                   ng-click="vm.categoryImageRemoved()"></i>
            </div>
            <a href="https://drive.google.com/uc?export=view&id={{vm.category.image.id}}" target="_blank">
                <img class="img-thumbnail"
                     ng-src="https://drive.google.com/uc?export=view&id={{vm.category.image.id}}"
                     alt="Imagem da categoria"
                     title="Clique para abrir a imagem em tamanho real." />
            </a>
        </div>

        <div class="img-responsive my-gallery-no-img pointer"
             title="Clique para adicionar uma imagem"
             ng-if="!vm.hasImage()"
             ng-click="app.authSvc.createPicker(vm.category.parent, vm.categoryImageSelected)">
            <i class="fa fa-picture-o fa-3x" aria-hidden="true"></i>
        </div>
        -->

        <div ng-if="vm.category">
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-circle btn-primary btn-sm margin-bottom-5"
                            type="button"
                            ng-disabled="!vm.category.activities.length || !vm.isEnabledBtnExport()"
                            ng-click="vm.exportJSON()">
                        Exportar
                    </button>
                    <button class="btn btn-circle btn-primary btn-sm margin-bottom-5"
                            type="button"
                            ng-disabled="!vm.category.activities.length || !vm.isEnabledBtnExport()"
                            ng-click="vm.generateQrCode()">
                        Gerar QR Code
                    </button>
                    <button class="btn btn-circle btn-primary btn-sm margin-bottom-5 disabled"
                            type="button"
                            ng-disabled="!vm.category.activities.length || !vm.isEnabledBtnExport()"
                            ng-click=""
                            onclick="alert('Exportou a pasta compactada');">
                        Modo offline
                    </button>
                    <a id="downloadAnchorElem" style="display:none"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-if="vm.isExporting">
                    <div>
                        <i class="fa fa-fw fa-spin fa-spinner"></i> <strong>{{'Aguarde um instante'}}</strong>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <a class="pointer"
                       title="Adicionar atividade"
                       ng-disabled="vm.category.activities.length && vm.isActivityAnswerEmpty()"
                       ng-click="vm.addActivity()">
                        <i class="fa fa-plus"></i>
                        Adicionar atividade
                    </a>
                </div>
            </div>
            <editor-category-list-activities
                    activities="vm.category.activities"
                    all-selected="vm.isAllActivitiesSelected"
                    selected-activity="vm.selectedActivity"
                    toggle-all="vm.toggleAll()"
                    option-toggled="vm.optionToggled()"
                    ng-if="vm.category.activities.length">
            </editor-category-list-activities>
        </div>
        <hr>
        <div class="row margin-bottom-20">
            <div class="col-md-12">
                <button type="button" class="btn btn-circle btn-primary"
                        ng-disabled="vm.isLoading"
                        ng-click="vm.saveCategory()">
                    Salvar
                </button>
                <button type="button" class="btn btn-circle btn-danger"
                        ng-disabled="vm.isLoading"
                        ng-click="vm.deleteCategory()">Excluir</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-if="vm.isLoading">
                <div>
                    <i class="fa fa-fw fa-spin fa-spinner"></i> <strong>{{'Aguarde um instante'}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-9 margin-top-25">
        <div class="row" ng-if="vm.qrCodeData">
            <div class="col-md-12">
                <i class="fa fa-times pointer" aria-hidden="true"
                   title="Clique para remover o QR Code"
                   ng-click="vm.qrCodeData = ''"></i>
            </div>
            <div class="col-md-12">
                <qrcode data="{{vm.qrCodeData}}" href="{{vm.qrCodeData}}" size="200"></qrcode>
            </div>
        </div>
        <editor-category-activity-type
                selected-activity="vm.selectedActivity"
                ng-if="vm.selectedActivity && !vm.selectedActivity.type"></editor-category-activity-type>

        <div ng-if="vm.selectedActivity.type">
            <editor-answer-options
                    selected-activity="vm.selectedActivity"
                    on-save-action="vm.saveActivity()"
                    on-delete-action="vm.deleteActivity()"></editor-answer-options>
        </div>
    </div>
</div>