<div class="row">
    <div class="col-md-12">
        <h1>Escolha uma das opções de layout disponíveis</h1>
    </div>
</div><div class="row">
    <div class="col-sm-3 text-center">
        <button class="btn btn-link" type="button" ng-click="vm.setType('LETTERS')">
            <img class="img-responsive center-block" ng-src="assets/img/bubbleLetters.png" alt="Imagem layout letras">
            <h4 class="text-center">Letras</h4>
        </button>
    </div>
    <div class="col-sm-3 text-center">
        <button class="btn btn-link" type="button" ng-click="vm.setType('PICTURES')">
            <img class="img-responsive center-block" ng-src="assets/img/pictures.png" alt="Imagem layout imagens">
            <h4 class="text-center">Imagens</h4>
        </button>
    </div>
    <div class="col-sm-3 text-center">
        <button class="btn btn-link" type="button" title="Em desenvolvimento" ng-click="vm.setType('PUZZLE')" disabled>
            <img class="img-responsive center-block" ng-src="assets/img/puzzle.png" alt="Imagem layout quebra-cabeça">
            <h4 class="text-center">Quebra-cabeça</h4>
        </button>
    </div>
    <div class="col-sm-3 text-center">
        <button class="btn btn-link" type="button" title="Em desenvolvimento" ng-click="vm.setType('MEMORY')" disabled>
            <img class="img-responsive center-block" ng-src="assets/img/memoryGame.png" alt="Imagem layout memória">
            <h4 class="text-center">Memória</h4>
        </button>
    </div>
</div>