<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EasyEdu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic"/>-->
    <link href="https://cdn.rawgit.com/FelipeCorso/felipecorso.github.io/master/easyEdu/assets/css/_jquery-file-upload.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" href="assets/css/bootstrap.custom.min.css"/>-->
    <!--<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="vendor/bootstrap/dist/js/bootstrap.min.js"/>-->
    <!--<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.min.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/font-awesome.min.css"/>-->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/main.min.css"/>


    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">-->
    <!--<link href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css">-->
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!--<link href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css">-->
    <!--<link href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css">-->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="assets/metronic/theme/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css">
    <link href="assets/metronic/theme/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css">
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="assets/metronic/theme/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="assets/metronic/theme/assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color">
    <!--<link href="http://keenthemes.com/preview/metronic/theme/assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css">-->
    <!-- END THEME LAYOUT STYLES -->








    <script type="text/javascript" src="https://apis.google.com/js/client.js"></script>
    <script data-main="main.js" src="vendor/requirejs/require.js"></script>
</head>
<body ng-controller="appCtrl as app"
      class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo" ng-init="app.init()">

    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <!--<a href="index.html">
                    <img src="../assets/layouts/layout4/img/logo-light.png" alt="logo" class="logo-default">
                </a>-->
                <a class="brand-name margin-top-20 margin-bottom-10">
                    <span class="app-name">EasyEdu</span>
                    <span class="mode-name" ng-if="!app.authSvc.isLoading"
                          ng-bind="app.getCurrentStateIncludes('editor') ? '- Editor' : app.getCurrentStateIncludes('game') ? '- Jogo' : ''"></span>
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE ACTIONS -->
            <!-- DOC: Remove "hide" class to enable the page header actions -->

            <!-- END PAGE ACTIONS -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top" ng-if="!app.authSvc.isLoading">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->

                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">

                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                        <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->

                        <!-- END NOTIFICATION DROPDOWN -->

                        <!-- BEGIN INBOX DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                        <!-- END INBOX DROPDOWN -->

                        <!-- BEGIN TODO DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                        <!-- END TODO DROPDOWN -->
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user dropdown-dark" ng-if="app.authSvc.isSignedInGoogle()">
                            <a href="javascript:;" class="dropdown-toggle" id="dLabel" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                <span class="username username-hide-on-mobile" ng-bind="app.userInformation.name"></span>
                                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                <img class="img-circle" alt="User photo" ng-src="{{app.userInformation.urlPhoto}}">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default" aria-labelledby="dLabel">
                                <li>
                                    <a href="javascript:;" ng-click="app.authSvc.handleSignOutClick($event)">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> Sair
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-user dropdown-dark" ng-if="!app.authSvc.isSignedInGoogle()">
                            <a href="javascript:;" class="dropdown-toggle"
                               ng-click="app.authSvc.handleAuthClick($event)"
                               data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                <span class="username username-hide-on-mobile vertical-align-middle"> Acessar com o Google </span>
                                <div class="login-option social-icon-position googleplus-icon"></div>
                            </a>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->

                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->

                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>

    <div class="clearfix"></div>

    <!-- BEGIN PAGE SPINNER -->
    <div class="page-spinner-bar" ng-if="app.authSvc.isLoading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!-- END PAGE SPINNER -->

    <div class="page-container" ng-if="!app.authSvc.isLoading">

        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="nav-item" ng-if="app.getCurrentStateIncludes('editor')"
                        ng-class="{active: item.stateName === 'editor.my-gallery' && $state.includes('editor.category.*')}"
                        ng-repeat="item in app.primaryNavigation | orderBy: 'order'" ui-sref-active="active">
                        <a class="nav-link nav-toggle" ui-sref="{{item.stateName}}">
                            <i class="fa" ng-class="item.icon" aria-hidden="true"></i>
                            <span class="title">{{item.title}}</span>
                        </a>
                    </li>
                    <li class="nav-item" ng-class="{active: $state.includes('game.*')}">
                        <a class="nav-link nav-toggle" ui-sref="game.category">
                            <i class="fa fa-gamepad" aria-hidden="true"></i>
                            <span class="title">Jogo</span>
                        </a>
                    </li>
                    <li class="nav-item" ng-if="app.getCurrentStateIncludes('game')">
                        <a class="nav-link nav-toggle" ui-sref="editor.gallery">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <span class="title">Editor</span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>

        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-footer">
        <div class="page-footer-inner">
            <p class="text-center">Made by Felipe Corso</p>
        </div>
    </div>
</body>
</html>
