<table class="table table-striped">
    <thead>
    <tr>
        <th><input type="checkbox" ng-model="vm.isAllSelected" ng-click="vm.toggleAll()" bn-uniform></th>
        <th>Nome</th>
        <th>Tipo</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="activity in vm.activities | orderBy:$index:true">
            <td><input type="checkbox" bn-uniform ng-model="activity.export" ng-change="vm.optionToggled()"></td>
            <td>{{activity.name}}</td>
            <td>{{vm.getType(activity.type)}}</td>
            <td>
                <div class="pull-right">
                    <button type="button" class="btn-link" title="Clique para editar" ng-click="vm.selectActivity(activity)">
                        <i class="fa fa-pencil"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>