<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <div ng-if="vm.isWonMatch || vm.isWonGame || vm.isGameOver">
                <div class="row">
                    <div class="col-md-12 game-result-text">
                        <div ng-if="vm.isWonMatch || vm.isWonGame">
                            <h1>Parabéns!</h1>
                            <h3>Você ganhou {{vm.isWonMatch ? "a partida" : "o jogo"}}</h3>
                            <h4>O seu tempo foi de {{vm.getTimeResult() | date:"mm:ss"}}</h4>
                        </div>
                        <div ng-if="vm.isGameOver">
                            <h1>Que pena!</h1>
                            <h3>Você perdeu o jogo</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-warning"
                                type="button"
                                ng-click="vm.actionPlayAgain()">{{vm.isGameOver ? "Tentar novamente" : "Jogar novamente"}}</button>
                        <button class="btn btn-success"
                                type="button"
                                ng-click="vm.actionNextPhase()"
                                ng-if="!vm.isWonGame && !vm.isGameOver">Próxima fase</button>
                    </div>
                </div>
                <hr>
            </div>
            {{vm.timer | amDateFormat:"mm:ss"}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>{{vm.activity.tip}}</h4>
                </div>
            </div>
            <div class="row pictures-layout-answer-panel" id="answers" ng-init="vm.init()">
            </div>
        </div>
        <div class="panel-footer">
            <div class="row" id="answerOptions">
            </div>
        </div>
    </div>
</div>
