<div class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">

    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <!--<a href="index.html">
                    <img src="../assets/layouts/layout4/img/logo-light.png" alt="logo" class="logo-default">
                </a>-->
                <h1 class="brand-name">EasyEdu</h1>
                <div class="menu-toggler sidebar-toggler hide">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE ACTIONS -->
            <!-- DOC: Remove "hide" class to enable the page header actions -->

            <!-- END PAGE ACTIONS -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->

                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">

                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                        <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->

                        <!-- END NOTIFICATION DROPDOWN -->

                        <!-- BEGIN INBOX DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                        <!-- END INBOX DROPDOWN -->

                        <!-- BEGIN TODO DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                        <!-- END TODO DROPDOWN -->
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user dropdown-dark" ng-if="app.authSvc.isSignedInGoogle()">
                            <a href="javascript:;" class="dropdown-toggle" id="dLabel" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                <span class="username username-hide-on-mobile"> {{vm.userInformation.name}} </span>
                                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                <img class="img-circle" alt="User photo" ng-src="{{vm.userInformation.urlPhoto}}">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default" aria-labelledby="dLabel">
                                <li>
                                    <a href="javascript:;" ng-click="app.authSvc.handleSignOutClick($event)">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> Sair
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-user dropdown-dark" ng-if="!app.authSvc.isSignedInGoogle()">
                            <a href="javascript:;" class="dropdown-toggle"
                               ng-click="app.authSvc.handleAuthClick($event)"
                               data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                <span class="username username-hide-on-mobile vertical-align-middle"> Acessar com o Google </span>
                                <div class="login-option social-icon-position googleplus-icon"></div>
                            </a>
                        </li>





                        <!-- <a class="btn btn-social-icon btn-sm btn-google"
                            ng-click="app.authSvc.handleAuthClick($event)"
                            ng-if="!app.authSvc.isSignedInGoogle()"
                            title="Acessar com o Google">
                             <i class="fa fa-google"></i>
                         </a>
                         <div ng-if="app.authSvc.isSignedInGoogle()">
                             {{vm.userInformation.name}}
                             <img class="img-circle" alt="User photo"
                                  ng-src="{{vm.userInformation.urlPhoto}}">
                             <button type="button" class="btn btn-link btn-social-icon btn-sm"
                                     ng-click="app.authSvc.handleSignOutClick($event)"
                                     title="Sair">
                                 <i class="fa fa-sign-out" aria-hidden="true"></i>
                             </button>
                         </div>-->
                        <!-- END USER LOGIN DROPDOWN -->

                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->

                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>

    <div class="clearfix"></div>

    <!-- BEGIN PAGE SPINNER -->
    <div ng-spinner-bar class="page-spinner-bar" ng-if="app.authSvc.isLoading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!-- END PAGE SPINNER -->

    <div class="page-container" ng-if="!app.authSvc.isLoading">

        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="nav-item" ng-repeat="item in app.primaryNavigation | orderBy: 'order'" ui-sref-active="active">
                        <a class="nav-link nav-toggle" ui-sref="{{item.stateName}}">
                            <i class="fa" ng-class="item.icon" aria-hidden="true"></i>
                            <span class="title">{{item.title}}</span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>

        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-footer">
        <div class="page-footer-inner">
            <p class="text-center">Made by Felipe Corso</p>
        </div>
    </div>

</div>






<nav class="navbar navbar-default navbar-static-top hidden">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="editor">EasyEdu</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" ng-if="app.primaryNavigation.length > 0">
                <li ng-repeat="item in app.primaryNavigation | orderBy: 'order'" ui-sref-active="active">
                    <a ui-sref="{{item.stateName}}" ng-bind="item.title"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div>
                        <a class="btn btn-social-icon btn-sm btn-google"
                           ng-click="app.authSvc.handleAuthClick($event)"
                           ng-if="!app.authSvc.isSignedInGoogle()"
                           title="Acessar com o Google">
                            <i class="fa fa-google"></i>
                        </a>
                        <div ng-if="app.authSvc.isSignedInGoogle()">
                            {{vm.userInformation.name}}
                            <img class="img-circle" alt="User photo"
                                 ng-src="{{vm.userInformation.urlPhoto}}">
                            <button type="button" class="btn btn-link btn-social-icon btn-sm"
                               ng-click="app.authSvc.handleSignOutClick($event)"
                               title="Sair">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container hidden">
    <footer class="footer">
        <hr/>
    </footer>
</div>